body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.header {
    background: linear-gradient(to right, #39b257, #027926);
    display: flex;
    justify-content: space-between;
    color: #fff;
    text-align: center;
    padding: 30px;
    font-size: 36px;
    border-bottom: 2px solid #027926; /*199640*/
    font-family: "Bookman Old Style", sans-serif;
}

.header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.content {
    padding: 20px;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    background: linear-gradient(to right, #cef6da, #6c9f7c); /*a2c2ab*/
}

.footer {
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #39b257, #027926);
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    border-top: 2px solid #027926;
}

.container {
    margin: auto;
}

.logo {
    width: 40px;
    height: auto;
    margin-right: 15px;
}

.search {
    margin: 10px 20px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

.filters {
    margin: 5px 20px 20px 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.icon {
    margin: 5px 20px 20px 20px;
}

.icon-x {
    margin: 10px;
}


@media all and (max-width: 600px) {
    body {
        min-width: 600px;
        overflow-x: hidden;
    }
    .header {
        font-size: 24px;
        padding: 15px;
    }

    .content {
        font-size: 18px;
    }

    .footer {
        font-size: 12px;
    }

    .logo {
        width: 30px;
    }

    .search-input {
        width: 130%;
    }

    .sign-in {
        width: 50%;
    }
}
.FooterCentered_footer__mc3xD{
    position: absolute;
    width: 100vw;
    bottom: 0;
}
