body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.header {
    background: radial-gradient(circle, rgba(0, 77, 13, 0.93) 0%, rgba(3,102,1,1) 40%, rgba(56,138,0,1) 84%);
    /*background-color:rgba(0,77,13,1);*/
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 20px;
    /*border-bottom: 2px solid #027926; !*!*199640*!*!*/
    height: 15vh;
}

.header-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.content {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    position: relative;
    min-height: 100%;
    /*height: 100vh;*/
    color: #027826;
    /*background-color: whitesmoke;*/
    background-color:  whitesmoke; /*a2c2ab*/
}

.footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    border-top: 2px solid #027926;
}

.container {
    margin: auto;
    background-color: whitesmoke;
}

.recipe-form-container{
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: auto;
    height: auto;
    margin-right: 15px;
    transition: opacity 0.4s;
}

.logo:hover{
    opacity: 70%;
}

.search {
    /*margin: 10px 20px 10px 20px;*/
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba(2, 77, 22, 0.26), rgba(222, 215, 215, 0.06)), url('../public/homepage-bg3.jpg');
    background-repeat: no-repeat ;
    background-color: #484242;
    background-size: cover;
    background-position: center center;
}

.search-input {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
}

.filters {
    margin: 15px 20px 20px 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: white;
    font-weight: 500;
}

.ant-input-group .ant-input{
    font-weight: 500;
}

.icon {
    margin: 5px 20px 20px 20px;
}

.icon-x {
    margin: 10px;
}


@media all and (max-width: 600px) {
    body {
        min-width: 600px;
        overflow-x: hidden;
    }
    .header {
        font-size: 24px;
        padding: 15px;
    }

    .content {
        font-size: 18px;
    }

    .footer {
        font-size: 12px;
    }

    .logo {
        width: 30px;
    }

    .search-input {
        width: 130%;
    }
}

.ant-rate{
}

.header-page-title{
    margin: auto;
    font-size: 36px;
    font-family: "Arial", fantasy;
    text-align: center;
}

.header-home-page{
    color: white;
    font-style: oblique;
}

.ant-collapse{
    margin: 80px 20vw 50px 20vw;
/*    display:grid;*/
/*    grid-template-columns: repeat(2, 1fr); !* Powtarzaj 3 kolumny, każda zajmuje równy udział *!*/
/*    gap: 16px; */
}

.ant-collapse-header{
    /*box-shadow: 0px -4px 10px 1px #303134;*/
    /*border: 2px rgba(218, 206, 206, 0.46) solid;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #303134;

}

.ant-collapse-header-text{
    color: whitesmoke;
}

.ant-collapse-expand-icon{
    color: whitesmoke;
}

.ant-collapse-content-box{
    color: whitesmoke;
    background-color: #303134;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*box-shadow: 0px 3px 5px 2px rgba(245, 245, 245, 0.42);*/
    /*border: 2px rgba(218, 206, 206, 0.46) solid;*/
}


/*.ant-card .ant-card-body {*/
/*    padding: 10px;*/
/*    border-radius: 14px;*/
/*    background-color: whitesmoke;*/
/*    width: 60vw;*/
/*}*/

/*.ant-divider-horizontal {*/
/*    margin: 5px;*/
/*}*/

/*.ant-card {*/
/*    border-radius: 14px;*/
/*    width: 60vw;*/
/*    margin:auto;*/
/*}*/

.ant-form-item .ant-form-item-label >label{
    color: #027826;
}
.ant-form-item{
    color: #027826;
}
