.footer {
    background: radial-gradient(circle, rgba(0, 77, 13, 0.93) 0%, rgba(3,102,1,1) 40%, rgba(56,138,0,1) 84%);
    padding: 10px;
    height: 10vh;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
}


.logo1 {
    width: 40px;
}

.footer-centered {
    margin-top: 120px;
    border-top: 1px solid;
}

.footer-centered-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    @media (max-width: 600px) {
        flex-direction: column;
        text-align: center;
    }
}

.footer-centered-links {
    @media (max-width: 600px) {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
